.tocenter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.applications{
    display: flex;
    flex-direction: column;
    align-items: center;
}